{% extends 'base.html' %}
{% block title %}
    Bookings
{% endblock title %}
{% block body %}
<div class="contained">
    <div class="row">
        
        <div class="col-lg-6">
            <h3>Your Booking</h3>
            <p>Enter details</p>

            <form method = "post">
                <input class="form-control" name = "email" placeholder = "Email" type = "email" required>
                <input class="form-control" name = "name" placeholder = "Name" type = "text" required>
                <input class="form-control" name= "amount" placeholder = "Amount" type = "number" required>
                <button class = "btn btn-success btn-block">Proceed</button>
                
            </form>

        </div>
    </div>
</div>

{% endblock body %}