{% extends 'base2.html' %}
{% block title %}
Home

{% endblock title %}
{% block body %}
<h1> Poonam <br> di <br> chill !!!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iure voluptatem vitae aliquid in exercitationem
    architecto culpa alias odit ex repellendus quidem ea est dolore dolorem sequi at, illum doloremque accusamus quaerat
    recusandae ad dolorum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iure voluptatem vitae aliquid in exercitationem
        architecto culpa alias odit ex repellendus quidem ea est dolore dolorem sequi at, illum doloremque accusamus quaerat
        recusandae ad dolorum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iure voluptatem vitae aliquid in exercitationem
            architecto culpa alias odit ex repellendus quidem ea est dolore dolorem sequi at, illum doloremque accusamus quaerat
            recusandae ad dolorum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur iure voluptatem vitae aliquid in exercitationem
                architecto culpa alias odit ex repellendus quidem ea est dolore dolorem sequi at, illum doloremque accusamus quaerat
                recusandae ad dolorum!</p>





{% endblock body %}




</body>

</html>